.idea
/FastAPIServer/.idea
/FastAPIServer/.env
/FastAPIServer/src/auth/__pycache__
/FastAPIServer/__pycache__
/FastAPIServer/alembic/versions/__pycache__
/FastAPIServer/alembic/__pycache__
/FastAPIServer/src/events/__pycache__
/FastAPIServer/src/messages/__pycache__
/FastAPIServer/test.db
/FastAPIServer/tests/__pycache__
/FastAPIServer/src/__pycache__
/FastAPIServer/.pytest_cache